# Скомпилированные объектные файлы и исполняемые
*.o
*.obj
*.exe
*.out
num_integ          # имя исполняемого файла

# Папки сборки
build/
bin/
obj/

# Файлы данных (если появятся)
*.dat
*.txt

# Python (на всякий случай)
__pycache__/
*.pyc
*.pyo

# Редакторы и IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
